{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid bg-white text-dark py-5">
    <div class="container">
        <h3>Create your Account</h3>
        <h5>Start managing your clients today!</h5>
        <hr>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <div class="text-center mt-3">
            <p>Already have an account?
                <a href="{% url 'login' %}">Login here</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}